     #cardsContainer {
    display: inline-block;

        }

    .card {
        
        
        padding: 20px;
        background-color: white;
        margin-right: 10px;
        margin-top: 60px;
        float: right;
        border: 3px;
        width: 20%;
        border-style: solid;
        border-color: orange;
      }

      body {
        background-color: lightgoldenrodyellow;

      }

      .nav {
        float: right;
        
      }

      #card1 {
        clear: both;
        text-align: center;
      }

      .bar {
        background-color: orange;
        overflow: visible;
        padding: 1%;
      }

      .info {
        background-color: orange;
        overflow: visible;
        padding: 0.5%;

      }

      

      